faiss-cpu
google-generativeai
gradio
gym
ipyplot
joblib
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
lyricsgenius
matplotlib
numpy
opencv_python
pandas
Pillow
pinecone
plotly
protobuf
pygame
PyMuPDF
scikit_learn
seaborn
spacy
surprise
tensorflow
tensorflow-datasets
tensorflow-hub
torch
tqdm
ultralytics
wordcloud
xgboost